* {
    font-family: 'Poppins', sans-serif;
}

.ribeye {
    font-family: 'Ribeye', serif;
}

body,
html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: #FDF8EE;
    padding-right: 0 !important;
}

.h-screen {
    height: 100vh;
}

.p-20 {
    padding: 20px;
}

.p-50 {
    padding: 50px;
}

.logo {
    width: 200px;
}

.btn-purple {
    background-color: #4D2C5E !important;
    border-radius: 30px;
    color: white !important;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    vertical-align: middle;
}

.py-60 {
    padding-top: 60px;
    padding-bottom: 60px;
}

.fs-36 {
    font-size: 36px;
}

.text-orange {
    color: #FF7426;
}

.bg-purple {
    background-color: #4D2C5E;
}

.min-h-screen {
    min-height: 100vh;
}

.fs-30 {
    font-size: 30px;
}

.text-49 {
    color: #494949;
}

.text-blue {
    color: #2308F9;
}

.fs-14 {
    font-size: 14px;
}

.btn-blue {
    background-color: #210EB6;
}



/* main */
.sidebar {
    background-color: #4D2C5E;
    min-height: 100vh;
    padding: 20px 10px;
    width: 270px;
}

.menu-item {
    padding: 15px 25px;
    border-radius: 15px;
}

.menu-item:hover,
.menu-item.active {
    background: linear-gradient(90deg, #FF7426, #FFA3A3);
}

.icon {
    width: 24px;
}

.p-20 {
    padding: 20px;
}

.main-body {
    width: calc(100vw - 270px);
}

.custom-container {
    width: 90%;
    margin: 0 auto;
}

.fs-25 {
    font-size: 25px !important;
}

.fs-20 {
    font-size: 20px !important;
}


.h-full-200 {
    height: calc(100vh - 40px);
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.fs-35 {
    font-size: 35px;
}

.mb-100 {
    margin-bottom: 100px;
}

.g-icon {
    width: 50px;
}

.grid-item {
    background-color: #E4E4E4;
    padding: 40px 20px;
    border-radius: 10px;
}

.fs-15 {
    font-size: 15px;
}

.text-purple {
    color: #4D2C5E;
}

.ai-message {
    background-color: #F7F7F7;
}

.form-control {
    border: unset !important;
    box-shadow: unset !important;
    outline: unset !important;
}

.badge-pink {
    background-color: #fde6e1;
    display: inline-flex;
    padding: 5px 15px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 600;
    color: #F63A61;
}

.text-blue-1 {
    color: #0F0049;
}

.text-1 {
    color: #111827;
}

.accordion * {
    background-color: transparent !important;
    outline: unset !important;
    box-shadow: unset !important;
    border: unset !important;
}

.accordion-button {
    font-size: 18px;
    font-weight: 500;
    color: #0F0049;
    border-bottom: 1px solid #e7e7e7 !important;
    border-radius: 0 !important;
}

.btn-x {
    background-color: #EAEAEA;
    font-size: 15px;
    padding: 5px 15px;
    border-radius: 30px;
}

.text-pink {
    color: #F63A61;
}

.st {
    background-color: green;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
}

span.badge-number {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background: #EE786C;
    color: white;
    line-height: 1;
    border-radius: 50%;
    font-size: 14px;
    position: absolute;
    top: -5px;
    right: -5px;
}

th {
    color: #AAA4A4 !important;
    text-align: center;
}

.linear {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: linear-gradient(90deg, #FF7426, #FFA3A3);
}

.va-middle {
    vertical-align: middle;
}

.btn-warning {
    top: 50px;
    left: 0;
}

.modal .form-control {
    border: 1px solid #E5E5E5 !important;
    border-radius: 10px !important;
    padding: 10px 15px !important;
}

.btn-primary {
    background-color: #7152F3 !important;
    border-color: #7152F3 !important;
}

.modal-dialog.modal-dialog-centered {
    width: 350px;
    border-radius: 30px !important;
}